/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.09.2018, 14:57:44
    Author     : user
*/

.jfx-toggle-button,
.jfx-toggle-button:armed,
.jfx-toggle-button:hover,
.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:focused:selected {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;

    -jfx-toggle-color: -secondary-bg;
    -jfx-untoggle-color: #FAFAFA;
    -jfx-toggle-line-color: derive(-jfx-toggle-color, 65%);
    -jfx-untoggle-line-color: #999999;
    -jfx-size: 10;
}